<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
    <test thread-count="2" parallel="classes" name="Test">
        <classes>
            <class name="YouTubeGridChromeTest"/>
            <class name="YouTubeGridFirefoxTest"/>
        </classes>
    </test>
</suite>